html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Courier New", monospace;
  background: url(./Trung\ Nguyen.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.clock {
  font-size: 14rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 5%;
}
